body {
    font-family: Arial, Helvetica, sans-serif;
}

#flag-image {
    width: 280px;
    height: auto;
    margin-bottom: 20px;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#quiz-container button {
    background-color: grey;
    color: white;
    width: 280px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}

#quiz-container button:hover {
    background-color: lightgray;
}

